<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="../public/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>created by {{name}}</p>
        <img class="portrait" src="../img/DSC_1333.JPG" />
    </div>

    {{>footer}}
</body>

</html>