<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="../public/css/styles.css" />
    <script src="../public/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{title}}</h1>
        <p>{{description}}</p>
    </div>

    {{>footer}}
</body>

</html>