<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../public/css/styles.css" />
    <script src="../public/js/app.js"></script>
    <link rel="icon" href="">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>

    {{>footer}}
</body>

</html>